<% include partials/header %>

<h1>THis is a HOME PAGE!!!</h1>
<img src = "https://static1.squarespace.com/static/5a3973a632601efc8da34599/t/5a397aab8165f5e58d4cbdd0/1513716427038/NETTA+Mountains.jpeg?format=2500w">

<% include partials/footer %>