<% include partials/header %>

<div class="container">

	<header class="jumbotron"> <!-- Adds background color to header -->
		<div class="container"> <!-- Indents the content from the right border -->
			<h1> Welcome to YelpCamp!!! </h1>
			<p> View all hand-picked campgrounds from all over the World! </p>
			<p> <a class="btn btn-primary btn-lg" href="/campgrounds/new"> Add New Campground</a> </p>	
		</div>
	</header>
	
	<div class="row text-center" style="display:flex; flex-wrap:wrap;"> <!-- Puts everything into row and adjusts the size of each item -->
		<% campgrounds.forEach(function(camp) { %>
			<div class="col-md-3 col-sm-6"> <!-- Adjust images dynamically accordingly with window size -->
				<div class="thumbnail"> <!-- Puts the frame enclosing image and title -->
						<img src = <%= camp["image"] %> >
					<div class="caption">
						<h3> <strong><%= camp["name"] %> </strong>  </h3>
					</div>
				</div>	
			</div> 
		<% }); %>
	</div>	
</div>	


<% include partials/footer %>
